<html>
  <head>
    <title>Real Time Face Recognition</title>
  </head>
  <body>
    <h1>Real Time Face Recognition</h1>
    <h3>{{response}}</h3>
    <hr>
    <form action="/recognition/capture_image" method="post">{% csrf_token %}
      <input name="name" placeholder="Enter Name">
      <input name="id" placeholder="Enter Id">
      <button type="submit">Take Image</button>
    </form>
    <hr>
    <button><a href="/recognition/train_image">Train Image</a></button>
  <hr>
    <button><a href="/recognition/trackimage"> Track Image</a></button>
  <hr>
    <button></button>
  </body>
</html>
